<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  <script type="text/javascript">
  	const setCookie = (cname, cvalue, exdays) => {
    var d = new Date();
    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
    var expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

  	// setCookie('test', 'viip', '5');
  	// const ws = new WebSocket("ws://192.168.1.155:8080");
  	// ws.send('akoclo');
  	// ws.onmessage = (value)=>{
  	// 	console.log(value);
  	// }
  	// console.log(document.cookie);
  	// console.log(ws);
  </script>
</html>
